---
import { SITE } from '~/config.mjs';

import Layout from '~/layouts/BlogLayout.astro';
import PostTags from '~/components/widgets/Tags.astro';

import { fetchPosts } from '~/utils/posts';

export async function getStaticPaths() {
  const posts = await fetchPosts();

  return posts.map((post) => ({
    params: {
      slug: post.slug,
      blog: 'posts',
    },
    props: { post },
  }));
}
const { post } = Astro.props;

const meta = {
  title: `${post.title} — ${SITE.title}`,
  description: post.description,
  ogTitle: post.title,
  ogType: 'article',
};
---

<Layout {meta}>
  <article>
    <header>
      <h1 class="text-3xl font-bold mb-8 font-heading">
        {post.title}
      </h1>
    </header>
    <div
      class="prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      {post.Content ? <post.Content /> : <Fragment set:html={post.body} />}
    </div>
    <div class="mt-8 flex justify-between flex-col sm:flex-row">
      <PostTags tags={post.tags} class="mr-5" />
    </div>
  </article>
</Layout>
