---
import { SITE } from '@/config';

import NavLink from '../components/NavLink.astro';

import '../styles/base.css';
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{SITE.title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="title" content={SITE.title} />
    <meta name="generator" content={Astro.generator} />
    {SITE.description && <meta name="description" content={SITE.description} />}

    <meta property="og:type" content="website" />
    <meta property="og:title" content={SITE.title} />
    {SITE.description && <meta property="og:description" content={SITE.description} />}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={SITE.title} />
    {SITE.description && <meta property="twitter:description" content={SITE.description} />}
  </head>
  <body>
    <header class="py-5">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <nav class="relative z-50 flex justify-between">
          <div class="flex items-center md:gap-x-12">
            <a aria-label="主页" href="/">
              <svg height="50" viewBox="0 0 1024 1024" width="50" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <radialGradient cx="19.247%" cy="99.465%" fx="19.247%" fy="99.465%" id="a" r="108.96%">
                    <stop offset="0%" stop-color="#09F"></stop>
                    <stop offset="60.975%" stop-color="#A033FF"></stop>
                    <stop offset="93.482%" stop-color="#FF5280"></stop>
                    <stop offset="100%" stop-color="#FF7061"></stop>
                  </radialGradient>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <path fill="none" d="M0 0h1024v1024H0z"></path>
                  <path
                    d="M512 122c-225.332 0-400 165.056-400 388 0 116.614 47.792 217.382 125.622 286.984 6.534 5.848 10.478 14.04 10.746 22.808l2.178 71.152c.696 22.696 24.14 37.464 44.908 28.296l79.394-35.048a31.93 31.93 0 0 1 21.364-1.568C432.696 892.656 471.526 898 512 898c225.332 0 400-165.056 400-388S737.332 122 512 122z"
                    fill="url(#a)"></path>
                  <path
                    d="M271.802 623.469l117.5-186.416c18.69-29.656 58.714-37.04 86.758-16.008l93.454 70.09a23.998 23.998 0 0 0 28.91-.082l126.214-95.788c16.846-12.784 38.836 7.376 27.562 25.266L634.7 606.95c-18.692 29.654-58.716 37.04-86.758 16.006l-93.456-70.092a24 24 0 0 0-28.91.084l-126.214 95.788c-16.846 12.783-38.836-7.377-27.56-25.266z"
                    fill="#FFF"></path>
                </g>
              </svg>
            </a>
            <div class="hidden md:flex md:gap-x-6">
              <NavLink path="/" name="主页" />
              <NavLink path="/blog" name="博客" />
              <NavLink path="/tips" name="技巧" />
              <NavLink path="/about" name="关于" />
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="mx-auto max-w-7xl sm:px-6 lg:px-8 mt-5">
      <slot />
    </main>
  </body>
</html>
